#squares-container{
    border: 1px black solid;
    height: 450px;
    width: 800px;
    text-align: center;
    background-color: grey;
    transition:all 6s;
}

.even{
    border:1px black solid;
    width: 50px;
    height: 50px;
    margin: 3px auto;
    background-color:rebeccapurple;
    color: #ffffff;
    line-height: 50px;
    transition:all 6s;
    
}

.odd{
    border:1px black solid;
    width: 50px;
    height: 50px;
    margin: 3px auto;
    background-color:rebeccapurple;
    color: #ffffff;
    line-height: 50px;
    transition:all 6s;
    
}
#squares-container:hover{
    border-radius: 20px;
    height: 500px;
}
#squares-container:hover .odd{
    transform: translateX(365px) rotate(1080deg);
    width: 37.5px;
    height: 37.5px;
    line-height: 37.5px;
    margin: 1px auto;
}

#squares-container:hover .even{
    transform: translateX(-330px) rotate(-1080deg);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
    margin: -15px auto;
}