
img{
margin: center;
}

Body{
margin: center;
color : white;
background-color : grey;
text-align : center;
}

h1, h2, h3{
Background: black;
color: white;
}

li{
text-align: left;
}